<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <h1>Form Builder</h1>
</mat-toolbar>

<mat-toolbar class="row-md-12">
  <div class="col-md-8" align="left">
    <input
      class="form-control formname"
      matInput
      placeholder="Form Name"
      #name
    />
  </div>
  <div class="col-md-4" align="right">
    <button mat-button class="save">
      <i class="fa fa-plus"></i> Save Form
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4>Select Fields</h4>
    <mat-divider></mat-divider>
    <!--a draggable element-->
    <div class="fields" *ngFor="let item of fieldModels">
      <div
        class="field field-flex pointer shadow-bg"
        [dndDraggable]="item"
        [dndEffectAllowed]="'copy'"
        (dndEnd)="onDragEnd($event)"
      >
        <i [ngClass]="item.icon" class="fa pull-left"></i>
        <span class="label">{{ item.label }}</span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <section
        dndDropzone
        *ngFor="let s of response.formSection; let s_index = index;"
        (dndDragover)="onDragover($event)"
        (dndDrop)="onDrop($event, model.attributes[s_index].fields, response.formSection[s_index].fields)"
        class="dndDropArea draw-section"
        [ngClass]="{ empty: model.attributes.length == 0 }"
        [style.backgroundColor]="model.theme.bgColor"
        [style.color]="model.theme.textColor"
      >
        <div
          class="field"
          *ngFor="let item of model.attributes[s_index].fields; let i = index"
          (dndStart)="onDragStart($event)"
          (dndCanceled)="onDragCanceled($event)"
          (dndMoved)="
            onDragged(item, model.attributes[s_index].fields, response.formSection[s_index].fields, 'move')
          "
          [dndEffectAllowed]="'all'"
          [dndDraggable]="item"
        >
          <div class="row form-group">
            <div class="col-1">
              <i class="fa fa-arrows dndHandle" dndHandle></i>
            </div>
            <div class="col-7">
              <!-- <i [ngClass]="item.icon" class="fa pull-left"></i>
              <h5>{{item.label}}
              <span *ngIf="item.required" class="red">*</span></h5> -->
              <div *ngIf="item.type == 'text'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <input
                  type="text"
                  class="form-control"
                  id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}"
                />
              </div>
              <div *ngIf="item.type == 'email'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <input
                  type="email"
                  class="form-control"
                  id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}"
                />
              </div>
              <div *ngIf="item.type == 'phone'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <input
                  type="text"
                  class="form-control"
                  id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}"
                />
              </div>
              <div *ngIf="item.type == 'number'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <input
                  type="number"
                  class="form-control"
                  id="{{ item.name }}"
                  min="{{ item.min }}"
                  max="{{ item.max }}"
                  placeholder="{{ item.placeholder }}"
                />
              </div>
              <div *ngIf="item.type == 'date'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <input
                  type="date"
                  class="form-control"
                  id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}"
                />
              </div>
              <div *ngIf="item.type == 'time'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <input
                  type="time"
                  class="form-control"
                  id="{{ item.name }}"
                  placeholder="{{ item.placeholder }}"
                />
              </div>
              <div *ngIf="item.type == 'autocomplete'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <select class="form-control" id="{{ item.name }}">
                  <option
                    *ngFor="let v of item.fieldOptionList"
                    [value]="v.value"
                    style="background-color: rgb(94, 88, 88)"
                  >
                    {{ v.name }}
                  </option>
                </select>
                <!-- <small class="form-text text-muted">{{item.description}}</small> -->
              </div>

              <div *ngIf="item.type == 'checkbox'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <div *ngFor="let v of item.fieldOptionList" class="inline-form-group">
                  <label class="cust-check-bx">
                    <input
                      type="checkbox"
                      [value]="v.value"
                      name="{{ item.name }}"
                      (click)="toggleValue(v)"
                    />
                    {{ v.name }}
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <div *ngIf="item.type == 'radio'">
                <label>{{ item.name }}</label>
                <label *ngIf="item.isRequired" class="text-danger">*</label>
                <div *ngFor="let v of item.fieldOptionList" class="inline-form-group">
                  <label class="cust-check-bx">
                    <input
                      type="radio"
                      [value]="v.value"
                      name="{{ item.name }}"
                    />
                    {{ v.name }}
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-4">
              <i
                *ngIf="item.toggle"
                (click)="item.toggle = false"
                class="fa fa-chevron-up pull-right"
              ></i>
              <i
                *ngIf="!item.toggle"
                (click)="item.toggle = true"
                class="fa fa-chevron-down pull-right"
              ></i>
              <i (click)="removeField(i,s_index)" class="fa fa-trash pull-right"></i>
            </div>
          </div>

          <!-- Field Property DropDown -->

          <div *ngIf="item.toggle" class="toggle-Wrapper">
            <div class="form-group">
              <label style="padding-right: 1%; padding-left: 1%">
                Required
              </label>
              <i
                *ngIf="item.isRequired"
                (click)="
                  item.isRequired = false;
                  response.formSection[s_index].fields[i].isRequired = false
                "
                class="fa fa-toggle-on red"
              ></i>
              <i
                *ngIf="!item.isRequired"
                (click)="
                  item.isRequired = true; response.formSection[s_index].fields[i].isRequired = true
                "
                class="fa fa-toggle-off"
              ></i>

              <label style="padding-right: 1%; padding-left: 1%"
                >Sortable</label
              >
              <i
                *ngIf="item.isSortable"
                (click)="
                  item.isSortable = false;
                  response.formSection[s_index].fields[i].isSortable = false
                "
                class="fa fa-toggle-on green"
              ></i>
              <i
                *ngIf="!item.isSortable"
                (click)="
                  item.isSortable = true; response.formSection[s_index].fields[i].isSortable = true
                "
                class="fa fa-toggle-off"
              ></i>

              <label style="padding-right: 1%; padding-left: 1%"
                >Filterable</label
              >
              <i
                *ngIf="item.isFilterable"
                (click)="
                  item.isFilterable = false;
                  response.formSection[s_index].fields[i].isFilterable = false
                "
                class="fa fa-toggle-on green"
              ></i>
              <i
                *ngIf="!item.isFilterable"
                (click)="
                  item.isFilterable = true;
                  response.formSection[s_index].fields[i].isFilterable = true
                "
                class="fa fa-toggle-off"
              ></i>

              <label style="padding-right: 1%; padding-left: 1%"> Active</label>
              <i
                *ngIf="item.isActive"
                (click)="
                  item.isActive = false; response.formSection[s_index].fields[i].isActive = false
                "
                class="fa fa-toggle-on green"
              ></i>
              <i
                *ngIf="!item.isActive"
                (click)="
                  item.isActive = true; response.formSection[s_index].fields[i].isActive = true
                "
                class="fa fa-toggle-off"
              ></i>

              <span class="pull-right ucfirst">{{ item.type }}</span>
            </div>

            <div class="form-group">
              <label>Name</label>
              <input class="form-control" type="text" [(ngModel)]="item.name" />
            </div>
            <div class="form-group">
              <label>Placeholder</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="item.placeholder"
              />
            </div>

            <div
              *ngIf="
                item.type != 'number' &&
                item.type != 'radio' &&
                item.type != 'checkbox' &&
                item.type != 'time' &&
                item.type != 'date' &&
                item.type != 'autocomplete'
              "
            >
              <label style="padding-right: 1%"> Field Type </label>
              <select
                class="form-control"
                (change)="change($event, i, model.attributes, response.formSection[s_index].fields)"
              >
                <option
                  class="form-control"
                  style="background-color: rgb(94, 88, 88)"
                  *ngFor="let type of formService.type"
                  value="{{ type.name + ' ' + type.id | lowercase }}"
                >
                  {{ type.name | lowercase }}
                </option>
              </select>
            </div>

            <!-- number -->
            <div *ngIf="item.type == 'number'" class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Min</label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="item.min"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Max</label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="item.max"
                  />
                </div>
              </div>
            </div>

            <!-- radio || checkbox || autocomplete -->
            <div
              *ngIf="
                item.type == 'radio' ||
                item.type == 'checkbox' ||
                item.type == 'autocomplete'
              "
            >
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Label</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Value</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Action</label>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Active / InActive</label>
                  </div>
                </div>
              </div>
              <div
                *ngFor="let i of item.fieldOptionList; let valueIndex = index"
                class="row"
              >
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="i.name"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="i.value"
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label (click)="item.fieldOptionList.splice(valueIndex, 1)"
                      >remove</label
                    >
                  </div>
                </div>
                <div class="col-2">
                  <label style="padding-right: 1%; padding-left: 1%">
                    Active</label
                  >
                  <i
                    *ngIf="i.isActive"
                    (click)="
                      i.isActive = false;
                      response.formSection[s_index].fields[i].isActive = false
                    "
                    class="fa fa-toggle-on green"
                  ></i>

                  <i
                    *ngIf="!i.isActive"
                    (click)="
                      i.isActive = true; response.formSection[i].fields[i].values[i].isActive = true
                    "
                    class="fa fa-toggle-off"
                  ></i>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="fieldOptionList.name"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="fieldOptionList.value"
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label (click)="addValue(item.fieldOptionList)">Add</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->
        </div>
        <!--optional placeholder element for dropzone-->
        <!--will be removed from DOM on init-->
        <div class="dndPlaceholder" dndPlaceholderRef></div>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<pre *ngIf="model">
  {{ response | json }}
</pre>
