mat-toolbar {
  background: #002b5c;
  color: white;
}

.formname{
  background-color: #002b5c;
}

mat-sidenav {
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.field-flex{
    display: flex;
}

.field {
  align-items: center;
  justify-content: flex-start;
}

.label {
  padding-left: 10%;
  font-size: 20px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: rgb(32, 31, 31);
}

h1 {
  font-size: 28px;
  padding-left: 10px;
}

.save {
  background-color: green;
  color: white;
  padding: 5px;
}

.properties-heading {
  background-color: rgb(6, 6, 37);
  text-align: center;
  color: honeydew;
}

.draw-section {
  border-color: white;
  border-style: dashed;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.form-control {
  width: 100%;
  color: white;
}

.pad {
  padding-left: 3%;
}
